

.lobby {
  font-size: 0;
  .users, .games {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0 1%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }

  .create-game-form {
    input, button {
      margin: 0 10px;
    }
  }

  .gameList {
    margin: 20px 0;
    padding: 0;
    .game {
      list-style-type: none;
      font-size: initial;
      cursor: pointer;
    }
  }

  a {
    cursor: pointer;
  }

}

