

.lobby {
  display: flex;
}

.users, .games {
  flex: 1 0 auto;
  padding: 20px;

  h1 {
    text-align: center;
  }
}

.gameList {
  margin: 20px 0;
  padding: 0;
  .game {
    list-style-type: none;
    font-size: initial;
    cursor: pointer;
  }
}

a {
  cursor: pointer;
}
